.generator__header{
    text-align: center;
    color: darkgreen;
    margin-bottom: 20px;
  }
  .generator__password{
    background-color:#308D46;
    padding: 13px 10px;
    color: #fff;
    margin-bottom: 15px;
    height: 46px;
    display: flex;
    justify-content: space-between;
  }
  .copy__btn{
    color: #fff;
    background: #308D46;
    border: none;
    cursor: pointer;
  }
  .generator__btn{
    background: #308D46;
    border: none;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    color: #fff;
    border-radius: 30px;
    font-size: 17px;
    cursor: pointer;
  
  }